body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: rgb(241, 240, 240);

}
section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h1{
    color: rgb(100, 98, 98);
}
h2{
    color: rgb(255, 254, 254);
}
p{
    color: rgb(107, 104, 104);
    font-weight: 900;
    font-size: 20px;
}
.card{
    background-color: rgba(103, 104, 109, 0.274);
}
.input-btn{
    display: flex;
    flex-direction: column;
    width: 20%;
}